<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<!-- default target is System.out -->
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %m%n" />
		</layout>
	</appender>

	<!-- <category name="at.srfg.graphium.gipimport">
		<priority value="INFO"/>
	</category> -->
	<category name="at.srfg.graphium.gipimport.application">
		<priority value="INFO"/>
	</category>
	<root>
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>